.leaflet-popup-content {
  @extend .mx-3;
  @extend .my-4;

  & > button {
    @extend .ml-1;
  }
}

.btn-leaflet-popup {
  width: 28px;
  height: 28px;
  @extend .pa-0;

  & > i {
    pointer-events: none;
    font-size: 1.05rem;
  }
}

// POPUP TOOLTIP
$widthPopup: 48px;
$bottomPopup: 150%;
$opacityPopup: 0.75;

[data-tooltip] {
  position: relative;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: $bottomPopup;
  /* left: 50%; */
  margin-bottom: 5px;
  margin-left: -24px;
  padding: 7px;
  width: $widthPopup;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #4EA699;
  background-color: hsla(0, 0%, 20%, $opacityPopup);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: $bottomPopup;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #fff;
  border-top: 5px solid hsla(0, 0%, 20%, $opacityPopup);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}
